.link-selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    .label {
        font-size: 16px;
        font-family: "Sharp Sans No1 Bold";
        margin-bottom: 12px;

        &.large-label {
            font-size: 18px;
            margin-bottom: 22px;
        }
    }

    .link {
        font-size: 13px;
        font-family: 'Sharp Sans No1 Semibold';
        color: #494d59;
        margin-bottom: 13px;
        
        &:hover {
            color: #9c2224;
        }

        &.large-link {
            font-size: 15px;
        }
    }

    .bolded {
        font-family: 'Sharp Sans No1 Bold'
    }
}