@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

.product-page {
    width: 100%;
    border: 2px solid purple;
    min-height: 100vh;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    background-color:rgb(250, 249, 248);

    .top-container {
        width: 100%;
        padding: 32px;
        margin-bottom: 234px;
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: visible;
      
        .description-container {
            width: calc(64vw - 32px);
            position: relative;
            display: flex;
            flex-direction: column;

            .image-row {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 4px;

                .image-container {
                    position: relative;
                    cursor: pointer;
                    padding-bottom: 140%;
                    height: auto;
                    overflow: hidden;
                }
            }

            .info-box {
                height: 373px;
                width: 100%;
                padding-top: 60px;
                padding-bottom: 60px;
                background-color: white;
                margin: 32px auto;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 769px) {
                    margin: 16px auto;
                }

                .info-content {
                    max-width: 675px;
                    margin-left: auto;
                    margin-right: auto;
                    border: 1px solid red;

                    .description-text {
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 42px;
                        font-family: 'Lora', serif;
                        font-weight: 500;
                        color: #222222;
                        letter-spacing: 1px;
                    }

                    .description-list {
                        font-size: 11px;
                        line-height: 16px;
                        color: #707070;
                        font-size: 12px;

                        .description-list-item {
                            clear: both;
                            display: block;
                            margin-bottom: 8px;
                            min-height: 20px;
                        }

                        dt {
                            font-family: "Sharp Sans No1 Bold";
                            font-size: 13px;
                            color: #222222;
                            display: inline;
                            letter-spacing: 1px;
                        }

                        dd {
                            font-family: "Sharp Sans No1 Semibold";
                            -webkit-margin-start: auto;
                            margin-inline-start: auto;
                            display: inline;
                        }

                        dd::before {
                            background-color: #707070;
                            content: '';
                            display: inline-block;
                            height: 2px;
                            margin-left: 5px;
                            margin-right: 5px;
                            position: relative;
                            top: -3px;
                            width: 15px;
                        }
                    }
                }
            }
        }

        .selection-box {
            position: sticky;
            position: -webkit-sticky;
            top: 70px;
            width: calc(36vw - 32px);
            padding-left: 32px;
            border: 1px solid green;
            height: 45vh;
        }
    }
}