.nav-breadcrumbs-container {
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;
        font-size: 13px;
        font-family: "Sharp Sans No1 Semibold";

        li {
            display: inline-block;
            white-space: nowrap;

            span {
                text-transform: capitalize;
            }

            &:hover {
                cursor: pointer;

                span {
                    color: #9c2224;
                }
            }

            &::after {
                content: "\00a0/\00a0";
            }

            &:last-child {
                &:hover {
                    cursor: default;

                    span {
                        color: inherit;
                    }
                }
                
                &::after {
                    content: "";
                }
            }
        }
    }
}