.customer-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 15px;

    .customer-icon {
        height: 25px;
        width: 25px;
    }
}