.nav-popover-container {
    background: none;
    z-index: 7000;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;

    .nav-link {
        font-size: 14px;
        cursor: pointer;
        color: white;
        padding: 10px 10px;
        text-transform: uppercase;
    }

    .nav-popover {
        width: 1000px;
        margin-top: 24px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: #faf9f8;
        z-index: 0;
        opacity: 0;
        -webkit-transition: opacity .4s ease-out;
        transition: opacity .4s ease-out;
        display: flex;
        flex-direction: row;

        &.open {
            opacity: 1;
            visibility: visible;
            overflow: auto;
            z-index: 2000
        }
 
         &.closed {
            max-height: 0px;
            visibility: hidden;
        }

        .links-container {
            height: 100%;
            width: 50%;
            padding: 40px 60px;
            display: flex;
            flex-direction: row;
        }

        .image-container {
            height: 100%;
            width: 50%;
            flex-direction: row;
            justify-content: flex-end;

            .popover-image {
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}