.category-selection {
    display: flex;
    flex-direction: column;
    width: 100%;

    .label {
        font-size: 16px;
        font-family: "Sharp Sans No1 Bold";
        margin-bottom: 20px;

        &.large-label {
            font-size: 18px;
            margin-bottom: 22px;
        }
    }

    .category {
        font-size: 13px;
        font-family: 'Sharp Sans No1 Semibold';
        color: #494d59;

        &.large-category {
            font-size: 15px;
        }
    }

    .bolded {
        font-family: 'Sharp Sans No1 Bold'
    }
}