.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  margin: 2px 2px 2px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 800px) {
    height: 200px;
  }

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;

    @media screen and (max-width: 800px) {
      height: 240px;
    }
  }

  .background-image {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .tint-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.3;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
  

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      color: white;
      font-size: 1.7em;

      @media screen and (max-width: 800px) {
        font-size: 1.5em;
      }
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      color: white;
    }
  }
}
