.header {
    height: 70px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #292a33;
  
    .logo-container {
      height: 100%;
      padding: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      .brand-name {
        font-size: 2em;
        margin-left: 15px;
        color: white;
      }

    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
  
      .option {
        padding: 10px 15px;
        font-size: 15px;
        cursor: pointer;
        color: white;
      }
    }
  }
  