.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 1px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #292a33;
    color: white;
    text-transform: uppercase;
    font-family: "Sharp Sans No1 Semibold";
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    outline: none;

    &.inverted {
      background-color: white;
      color: #292a33;
      border: 1px solid #292a33;
    }

    &.google-sign-in {
      background-color: #4285f4;
      color: white;

      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }
  }
  