.banner {
    height: 40px;
    width: 100%;
    background-color: #494d59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    color: white;
    font-size: 15px;
}